<!DOCTYPE html>
<html>
	<head>
		<title>Live Example</title>
		
		<script src="/_components/morphdom/morphdom-umd.js"></script>
		<script src="/_components/@socketry/live/live.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
